[Unit]
Description=Mock service for robottelo tracer tests

[Service]
ExecStart=/usr/bin/robottelo-mock-service.sh

[Install]
WantedBy=multi-user.target
